<p id="notice"><%= notice %></p>

<div id="pins">
  
  <% @pins.each do |pin| %>
  
    <div class="box">
      
      <div class="panel panel-default">
        <div class="panel-body">
            <%= link_to image_tag(pin.image.url(:medium)), pin %></br>
            <strong>Desc:</strong>
            <%= pin.description %></br>
            <strong>User:</strong>
            <%= pin.user.name %></br>
            <strong>Email:</strong>
            <%= pin.user.email if pin.user %></br>
            
            <% if pin.user == current_user %>
              <div class="panel-footer">
                <%= link_to 'Edit', edit_pin_path(pin) %>
                <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            <% end %>
            </br>
        </div>
      </div>
      
    </div>
    
  <% end %>
  
</div>
