<p id="notice"><%= notice %></p>

<p>
  <div class="box">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= image_tag @pin.image.url(:medium) %></br>
        <strong>Description:</strong>
        <%= @pin.description %></br>
        <strong>User:</strong>
        <%= @pin.user.name %>
      </div>
      <div class="panel panel-footer">
        <% if @pin.user == current_user %>
          <%= link_to 'Edit', edit_pin_path(@pin) %> |
        <% end %>
        <%= link_to 'Back', pins_path %>
      </div>
    </div>
  </div>
</p>
