<div class="jumbotron center">
    <h1>Welcome to my Pintrested Page!</h1>
    <p>Pretty cool, don't you think?</p>

    <%= link_to "Pins", pins_path, class:'btn btn-default' %>
    <% if user_signed_in? %>
        <%= link_to "New", new_pin_path, class:'btn btn-default' %>
        <%= link_to "Logout", destroy_user_session_path, class:'btn btn-primary', method: :delete %>
        <%= link_to "Profile", edit_user_registration_path, class:'btn btn-default' %>
    <% else %>
        <%= link_to "Login", new_user_session_path, class:'btn btn-default' %>
        <%= link_to "Join", new_user_registration_path, class:'btn btn-primary' %>
    <% end %>

</div>