<div class="panel panel-default">
  <div class="panel-heading"><h2>Log in</h2></div>
  <div class="panel-body">  <!-- To-get: Panel's and headings, added these 3ea <div> tags from Bootstrap -->
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">  <!-- Changed: class to form-group -->
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>  <!-- Added: class form-control -->
    </div>
  
    <div class="form-group">  <!-- Changed: class to form-group -->
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>  <!-- Added: class form-control -->
    </div>
  
    <% if devise_mapping.rememberable? -%>
      <div class="form-group">  <!-- Changed: class to form-group -->
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
  
    <div class="actions">
      <%= f.submit "Log in", class: 'btn btn-primary' %>  <!-- Added: class btn and btn-primary based on Bootstrap -->
    </div>
  <% end %>
  
  </div> <!-- closes the added panel body -->
  <div class="panel-footer"><%= render "devise/shared/links" %></div> <!-- Wrapped: Ruby-erb render in <div> for panel-footer -->
</div> <!-- closes the added panel and panel-default -->


