<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'home/header' %>


<div class="container">
  <% flash.each do |name, msg| %>
    <div class="alert alert-success" role="alert">
      <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
    </div>
  <% end %>
  <%= yield %> <!-- This is where the HTML of each page will be generated to by Ruby/Rails -->
</div>
  
</body>
</html>
